include LICENSE

include resources.qrc

include src/labelimg2/*.jpg
include src/labelimg2/data/*.txt

recursive-include src/labelimg2/resources *

recursive-exclude * __pycache__
recursive-exclude * *.py[cod]